@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}

.maincontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.topCard {
	display: flex;
	flex-direction: column;
	width: 1200px;
	height: 400px;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 2px 16px;
	background-color: #000;
	margin-bottom: 50px;
	color: white;
	margin-top: 40px;
}

.headingbox {
	background-image:url("../images/all-seeing-eye-third-eye-icon-isolated-dark-background-all-seeing-eye-third-eye-icon-isolated-dark-background-simple-193268703.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.headingbox h1 {
	font-family:  Optima, sans-serif;
	color: #506EE8;
	font-size: 96px;
}

.headingbox h2 {
	font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	color: #506EE8;
}


.searchsection {
	align-content: inline;
	padding: 10px 15px;
}

.cityInput {
	flex: 1;
	width: 600px;
	height: 24px;
	border: none;
	outline: none;
	border-radius: 5px 0 0 5px;
	
}

.searchbutton {
	flex: 2;
	font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	background: #506EE8;
	color: #fff;
	width: 130px;
	height: 28px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}

.status {
	font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}



.weatherCard {
	display: grid;
	width: 1200px;
	height: 350px;
	background-color: #000;
	color: white;
	padding: 15px 15px;
}

.hidden {
	visibility: hidden;
}

.mainCard {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

.weatherIcon {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	font-size: 5em;
	line-height: 10px;
	
}

.cityName {
	grid-column: 2 / span 1;
	font-family:  Optima, sans-serif;
}

.weatherCondition {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


.tempCard {
	grid-column: 3 / span 1;
	grid-row: 1 / span 3;
	font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.windCard {
	grid-column: 2/ span 2;
	padding: 10px;
	font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


.windSpeed {
	display: inline;
	padding: 25px;
}

.direction {
	display: inline;
	padding: 25px;
}

.uvIndex {
	display: inline;
	padding: 25px;
}

